h1{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 0.5px solid #ccc;
    width: 220px;
    padding: 3px;
    padding-left: 13px;

}


#nome, #reddito, #sesso{
    margin-top: 10px;
    width: 50%;
    transition: width 0.4s ease-in-out;
    border-left: 4px solid #007bff; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline:;
}

#nome:focus{
    width: 55%;
}


#Maschio, #Femmina {
    width: 60%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    border: 1px solid black;
}

option{
    border: 0.5px solid #ccc;
}

label {
    margin-top: 10px;
    font-size: 20px;
}

button{
    width: 25%;
    margin-top: 25px;
}

button:hover{
    box-shadow: 0 0 3px blue;
}

.InsideTabs{
    padding-bottom: 20px;
    margin-top: 10px;
}


#tab {
    width: 90%;
    margin-top: 40px;
}

.tab-content{
    transition: 0.4ms ease-in;
}


#totaleFemmine, #totaleMaschi {
    margin-top: 5px;
    font-size: 13px;
}

#maschioNome, #maschioReddito, #femminaNome, #femminaReddito {
    font-size: 20px;
}

#totaleFemmine, #totaleMaschi{
    display: none;
}